=align-content($value)
    -webkit-align-content: $value
    align-content: $value

=align-items($value)
    -webkit-align-items: $value
    align-items: $value

=align-self($value)
    -webkit-align-self: $value
    align-self: $value

=animation($value)
    -webkit-animation: $value
    -moz-animation: $value
    -o-animation: $value
    animation: $value

=animation-delay($value)
    -webkit-animation-delay: $value
    -moz-animation-delay: $value
    -o-animation-delay: $value
    animation-delay: $value

=animation-direction($value)
    -webkit-animation-direction: $value
    -moz-animation-direction: $value
    -o-animation-direction: $value
    animation-direction: $value

=animation-duration($value)
    -webkit-animation-duration: $value
    -moz-animation-duration: $value
    -o-animation-duration: $value
    animation-duration: $value

=animation-fill-mode($value)
    -webkit-animation-fill-mode: $value
    -moz-animation-fill-mode: $value
    -o-animation-fill-mode: $value
    animation-fill-mode: $value

=animation-iteration-count($value)
    -webkit-animation-iteration-count: $value
    -moz-animation-iteration-count: $value
    -o-animation-iteration-count: $value
    animation-iteration-count: $value

=animation-name($value)
    -webkit-animation-name: $value
    -moz-animation-name: $value
    -o-animation-name: $value
    animation-name: $value

=animation-play-state($value)
    -webkit-animation-play-state: $value
    -moz-animation-play-state: $value
    -o-animation-play-state: $value
    animation-play-state: $value

=animation-timing-function($value)
    -webkit-animation-timing-function: $value
    -moz-animation-timing-function: $value
    -o-animation-timing-function: $value
    animation-timing-function: $value

=background-size($value)
    -webkit-background-size: $value
    -moz-background-size: $value
    -o-background-size: $value
    background-size: $value
=border-image($value)
    -webkit-border-image: $value
    -moz-border-image: $value
    -o-border-image: $value
    border-image: $value

=border-radius($value)
    -webkit-border-radius: $value
    -moz-border-radius: $value
    -ms-border-radius: $value
    border-radius: $value

=border-bottom-left-radius($value)
    -webkit-border-bottom-left-radius: $value
    -moz-border-bottom-left-radius: $value
    -ms-border-bottom-left-radius: $value
    border-bottom-left-radius: $value

=border-bottom-right-radius($value)
    -webkit-border-bottom-right-radius: $value
    -moz-border-bottom-right-radius: $value
    -ms-border-bottom-right-radius: $value
    border-bottom-right-radius: $value

=border-top-left-radius($value)
    -webkit-border-top-left-radius: $value
    -moz-border-top-left-radius: $value
    -ms-border-top-left-radius: $value
    border-top-left-radius: $value

=border-top-right-radius($value)
    -webkit-border-top-right-radius: $value
    -moz-border-top-right-radius: $value
    -ms-border-top-right-radius: $value
    border-top-right-radius: $value

=box-decoration-break($value)
    -webkit-box-decoration-break: $value
    -o-box-decoration-break: $value
    box-decoration-break: $value
    

=box-sizing($value)
    -webkit-box-sizing: $value
    -moz-box-sizing: $value
    box-sizing: $value

=box-shadow($value)
    -webkit-box-shadow: $value
    box-shadow: $value

=column-count($value)
    -webkit-column-count: $value
    -moz-column-count: $value
    column-count: $value

=column-fill($value)
    -webkit-column-fill: $value
    -moz-column-fill: $value
    column-fill: $value

=column-gap($value)
    -webkit-column-gap: $value
    -moz-column-gap: $value
    column-gap: $value

=column-rule($value)
    -webkit-column-rule: $value
    -moz-column-rule: $value
    column-rule: $value

=column-rule-color($value)
    -webkit-column-rule-color: $value
    -moz-column-rule-color: $value
    column-rule-color: $value

=column-rule-style($value)
    -webkit-column-rule-style: $value
    -moz-column-rule-style: $value
    column-rule-style: $value

=column-rule-width($value)
    -webkit-column-rule-width: $value
    -moz-column-rule-width: $value
    column-rule-width: $value

=column-span($value)
    -webkit-column-span: $value
    column-span: $value

=column-width($value)
    -webkit-column-width: $value
    -moz-column-width: $value
    column-width: $value

=columns($value)
    -webkit-columns: $value
    -moz-columns: $value
    columns: $value

=filter($value)
    -webkit-filter: $value
    filter: $value

=flex($value)
    -webkit-flex: $value
    -moz-flex: $value
    -ms-flex: $value
    flex: $value

=flex-basis($value)
    -webkit-flex-basis: $value
    -moz-flex-basis: $value
    flex-basis: $value

=flex-direction($value)
    -webkit-flex-direction: $value
    -moz-flex-direction: $value
    flex-direction: $value

=flex-flow($value)
    -webkit-flex-flow: $value
    -moz-flex-flow: $value
    flex-flow: $value

=flex-grow($value)
    -webkit-flex-grow: $value
    -moz-flex-grow: $value
    flex-grow: $value

=flex-shrink($value)
    -webkit-flex-shrink: $value
    -moz-flex-shrink: $value
    flex-shrink: $value

=flex-wrap($value)
    -webkit-flex-wrap: $value
    -moz-flex-wrap: $value
    flex-wrap: $value

=font-kering($kering)
    -webkit-font-kering: $kering
    font-kering: $kering

=justify-content($value)
    -webkit-justify-content: $value
    justify-content: $value

=order($value)
    -webkit-order: $value
    -moz-order: $value
    order: $value

=perspective($value)
    -webkit-perspective: $value
    -moz-perspective: $value
    perspective: $value

=perspective-origin($value)
    -webkit-perspective-origin: $value
    -moz-perspective-origin: $value
    perspective-origin: $value

=resize($value)
    -moz-resize: $value
    resize: $value
//s
=tab-size($value)
    -moz-tab-size: $value
    -o-tab-size: $value
    tab-size: $value

=text-align-last($value)
    -moz-text-align-last: $value
    text-align-last: $value

=text-decoration-color($value)
    -webkit-text-decoration-color: $value
    -moz-text-decoration-color: $value
    text-decoration-color: $value

=text-decoration-line($value)
    -webkit-text-decoration-line: $value
    -moz-text-decoration-line: $value
    text-decoration-line: $value

=text-decoration-style($value)
    -moz-text-decoration-style: $value
    text-decoration-style: $value

=overflow-x($value)
    -ms-overflow-x: $value
    overflow-x: $value

=overflow-y($value)
    -ms-overflow-y: $value
    overflow-y: $value

=text-overflow($value)
    -o-text-overflow: $value
    text-overflow: $value

=transform($value)
    -webkit-transform: $value
    -moz-transform: $value
    -ms-transform: $value
    -o-transform: $value
    transform: $value

=transform-origin($value)
    -webkit-transform-origin: $value
    -moz-transform-origin: $value
    -ms-transform-origin: $value
    -o-transform-origin: $value
    transform-origin: $value

=transform-style($value)
    -webkit-transform-style: $value
    -moz-transform-style: $value
    transform-style: $value

=transition($value)
    -webkit-transition: $value
    -moz-transition: $value
    -o-transition: $value
    transition: $value

=transition-delay($value)
    -webkit-transition-delay: $value
    -moz-transition-delay: $value
    -o-transition-delay: $value
    transition-delay: $value

=transition-duration($value)
    -webkit-transition-duration: $value
    -moz-transition-duration: $value
    -o-transition-duration: $value
    transition-duration: $value

=transition-property($value)
    -webkit-transition-property: $value
    -moz-transition-property: $value
    -o-transition-property: $value
    transition-property: $value

=transition-timing-function($value)
    -webkit-transition-timing-function: $value
    -moz-transition-timing-function: $value
    -o-transition-timing-function: $value
    transition-timing-function: $value

=user-select($value)
    -webkit-user-select: $value
    -moz-user-select: $value
    -ms-user-select: $value
    user-select: $value